html {
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
}

body {
	font-size: 10rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	transition: background 0.5s linear;
}

.background1 {
	background-image: url('../images/rafaela.jpeg');
	background-size: cover;
}

.background2 {
	background-image: url('../images/rafaela2.jpeg');
	background-size: cover;
}

.background3 {
	background-image: url('../images/rafaela3.jpeg');
	background-size: cover;
}

.title, .time {
	color: white;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 20px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	box-shadow: 
		0 0 0px 4px rgba(0,0,0,0.1),
		inset 0 0 0 3px #EFEFEF,
		inset 0 0 10px black,
		0 0 10PX rgba(0,0,0,0.2);
}

.clockface {
	position: relative;
	width: 100%
	height: 100%;
	transform: translateY(-3px);
}

.hand {
	width: 50%;
	height: 6px;
	background: black;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}